<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    img{
        width: 300px;
        height: 300px;
    }
</style>
<body>
    {% for i in context %}
    <a href="{% url 'detail' i.name %}">{{i.name}}</a>
    <h2>{{i.color}}</h2>
    <h2>{{i.size}}</h2>
    <img src="{{i.img.url}}" alt="">
    {% endfor %}
</body>
</html>